<div class="page" id="pageId" (window:resize)="onResize($event)">
  <div id="draggable" class="buttonBar" [style.right]="buttonBarRightPosition">
    <div *ngIf="controls">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-3" (click)="newData()"><i
            class="bi bi-arrow-counterclockwise"></i></button>
        <div class="btn-group" role="group" aria-label="Controls">

          <button type="button" id="draggableHandle" class="btn btn-light" data-toggle="tooltip" data-placement="top"
            title="Move toolbar">
            <i class="bi bi-grip-vertical"></i>
          </button>

          <button type="button" id="dagre_layout" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Dagre layout" (click)="applyLayout()">
            <i class="bi bi-diagram-3"></i>
          </button>
          <button type="button" id="save_graph" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Save data" (click)="onConfirmSave()">
            <i class="bi bi-save"></i>
          </button>
          <button type="button" id="reset_graph" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Reset data" (click)="resetGraph()">
            <i class="bi bi-skip-backward"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Zoom in" id="zoom_in">
            <i class="bi bi-zoom-in"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Zoom out" id="zoom_out">
            <i class="bi bi-zoom-out"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Zoom reset" id="zoom_reset" disabled="true">
            <i class="bi bi-arrow-counterclockwise"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Zoom to fit" id="zoom_to_fit">
            <i class="bi bi-arrows-fullscreen"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Select all" id="select_all">
            <i class="bi bi-grid-fill"></i>
          </button>
          <button type="button" *ngIf="zoom" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Invert selection" id="toggle_selection">
            <i class="bi bi-ui-checks-grid"></i>
          </button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Toggle search" id="toggle_search"
            [ngClass]="{'searchButtonActive': showSearch, 'searchButtonInactive': !showSearch}"
            (click)="toggleSearch()">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="search float-right input-group mt-3 pr-0" [hidden]="!showSearch">
        <div class="input-group-prepend">
          <button type="button" id="prevButton" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Previous" disabled>
            <i class="bi bi-arrow-left-square"></i>
          </button>
          <button type="button" id="nextButton" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
            title="Next" disabled>
            <i class="bi bi-arrow-right-square"></i>
          </button>
        </div>
        <input type="text" id="searchInput" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="search" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="searchButton" data-toggle="tooltip"
            data-placement="top" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="clearButton" data-toggle="tooltip"
            data-placement="top" title="Clear" disabled>
            clear
          </button>
        </div>
      </div>
    </div>
    <div [hidden]="!showSearch" id="noMatchesText" class="noMatchesText float-right">No matches found</div>
  </div>
  <!-- Zoom indicator-->
  <div *ngIf="zoom" class="zoomIndicator">
    <span id="zoom_level"></span>
  </div>
  <!-- Save confirmation-->
  <div *ngIf="showConfirmation" class="confirmation-message-container">
    <div class="alert alert-success confirmation-message" role="alert" [ngClass]="{ 'fade-out': !showConfirmation }">
      Saved <i class="bi bi-check-circle"></i>
    </div>
  </div>

  <app-context-menus
  (editNodeContextMenuEvent)="openModal('editNodeModal')"
  (findCreateNodesContextMenuEvent)="findCreateNodesEvent($event)"
  (createLinkContextMenuEvent)="openModal('createLinkModal')"
  (editLinkLabelContextMenuEvent)="onEditLinkLabel()"
  (editLinksContextMenuEvent)="handleEditLinksEvent($event)">
  </app-context-menus>

  <app-modals
  [selectedNodeId]="selectedNodeId"
  [editLinksData]="editLinksData"
  (createLinkEvent)="onCreateLink($event)"
  (createNodeEvent)="onCreateNode($event)"
  (deleteLinkEvent)="onDeleteLink($event)"
  (deleteNodeEvent)="onDeleteNode()">
  </app-modals>

  <svg #svgId [attr.width]="width" height="780" (contextmenu)="visualiserContextMenus($event)"></svg>
</div>