/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
rect.selection {
	stroke: none;
  fill: steelblue;
  fill-opacity: 0.4;
}