<context-menu #viewNodeContextMenu>
  <ng-template contextMenuItem let-item (execute)="viewNode()">
    View Node...
  </ng-template>
</context-menu>

<context-menu #findNodesContextMenu>
  <ng-template contextMenuItem let-item (execute)="findNodes()">
    Search Nodes...
  </ng-template>
</context-menu>

<context-menu #createLinkContextMenu>
  <ng-template [visible]="!linksExist || linksDoNotExist" contextMenuItem let-item (execute)="createLink()">
    Create Link...
  </ng-template>
  <ng-template [visible]="linksExist" (execute)="editLinks()" contextMenuItem let-item>
    Edit Links...
  </ng-template>
</context-menu>

<context-menu #editLinkContextMenu>
  <ng-template contextMenuItem let-item (execute)="editLink()">
    Edit Link label...
  </ng-template>
</context-menu>