<context-menu #nodeContextMenu>
  <ng-template contextMenuItem let-item (execute)="showEntityDetails()">
    Show Entity Details
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Stop Auto-Arranging
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Find Direct Links
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Settings...
  </ng-template>
</context-menu>

<context-menu #canvasContextMenu>
  <ng-template contextMenuItem let-item (execute)="findEntity()">
    Find Entities...
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Stop Auto-Arranging
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Settings...
  </ng-template>
</context-menu>

<context-menu #createLinkContextMenu>
  <ng-template contextMenuItem let-item (execute)="createLink()">
    Create Link...
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Stop Auto-Arranging
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Settings...
  </ng-template>
</context-menu>

<context-menu #editLinkContextMenu>
  <ng-template contextMenuItem let-item (execute)="editLink()">
    Edit Link...
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Stop Auto-Arranging
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item [enabled]="false">
    Settings...
  </ng-template>
</context-menu>
